<div>
    <div class="row my_grup_title">
        <a href="#memberHelp">返回</a>
    </div>
    <div class="container" style="width:100%">
        <div class="row" style="margin-bottom:10px;padding:0px;">

            <div class="row" style="border:#A9A9A9 1px solid;background-color:white">
                <div class="row">
                    <div class="row">
                        <div class="my_area_corner_02" style="width:400px;height:50px;position:fixed;right:21px;top:75px;">
                            <!--<button type="button" class="btn btn-link"><a href="#active2">活動量</a></button>-->
                            <a href="#active2" class="btn btn-link">活動量</a>
                            <button type="button" class="btn btn-link" ng-click="showMenu(2)">紀錄簿</button>
                            <button type="button" class="btn btn-link" ng-click="showMenu(3)">績效表</button>
                            <button type="button" class="btn btn-link" ng-click="showMenu(4)">行事曆</button>
                            <button type="button" class="btn btn-link" ng-click="showMenu(5)">面談紀錄</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="my_grup_title col-md-4" style="margin:5px;">
                            本次面談紀錄
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="StudentBir" class="form-control form_date emptyinput" placeholder="日期" ng-model="dateStart" data-autoclose="1" data-date-format="yyyy-MM-dd" bs-datepicker>
                        </div>
                        <div class="col-md-2">
                            <!--<input type="text" class="form-control form_date emptyinput" placeholder="時間" />-->
                            <input type="time" class="form-control emptyinput" style="width:150px;height:30px;" placeholder="時間" />
                        </div>
                    </div>

                    <div class="tab-content">
                        <table class="table table-bordered my_table my_class_table" style="margin-top:10px">
                            <tr>
                                <td>面談主題</td>
                                <td>
                                    <select id="" class="form-control" style="width:200px;display:inline-block;">
                                        <option value="">績效面談</option>
                                        <option value="">業務推動</option>
                                        <option value="">獎勵辦法</option>
                                        <option value="">行政問題</option>
                                        <option value="">客訴處理</option>
                                        <option value="">訓練技巧</option>
                                        <option value="">溝通技巧</option>
                                        <option value="">陪同拜訪</option>
                                        <option value="">其他</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>設定目標1</td>
                                <td>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control2" style="width:100%;font-size:16px; line-height:35px;font-weight:bold;position: relative; margin: 10px 10px 10px 10px; width:90%;" />
                                    </div>
                                    <!--<div class="col-lg-12">
                                        <textarea name="Text1" class="form-control2" style="position: relative; margin: 10px 10px 10px 10px; width:90%; height: 80%"></textarea>
                                    </div>-->
                                </td>
                            </tr>
                            <tr>
                                <td>行動方案</td>
                                <td>
                                    <div class="col-lg-12">
                                        <textarea name="Text1" class="form-control2" style="position: relative; margin: 10px 10px 10px 10px; width:90%; height: 80%"></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>設定目標2</td>
                                <td>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control2" style="width:100%;font-size:16px; line-height:35px;font-weight:bold;position: relative; margin: 10px 10px 10px 10px; width:90%;" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>行動方案</td>
                                <td>
                                    <div class="col-lg-12">
                                        <textarea name="Text1" class="form-control2" style="position: relative; margin: 10px 10px 10px 10px; width:90%; height: 80%"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-md-2">
                                <button id="" class="btn btn-info">清空</button>
                                <button id="" class="btn btn-info">送出</button>
                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="menuA_Detail">
            <div class="modal-dialog modal-md" style="width:880px;">
                <div class="modal-content" style="background:#D6ECE8">
                    <div class="modal-header" style="background:linear-gradient(to bottom,  #7ae2df 0%,#65b2b2 100%)">
                        <div class="pull-right" id="btnCLOSE" data-dismiss="modal"><img src="img/btn-oran-close.png" style="width:30px; height:30px;margin-bottom:10px;" /></div>
                        <div class="" id="" style="color:white">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-body ">
                        <div class="row class_mod_01_content">
                            <div class="container" style="background:white">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div class="row" id="samename_class" style="text-align:center;">
                                            <table id="" class="table table-bordered my_table my_class_table">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center;">週次</th>
                                                        <th style="text-align:center;"><a ng-click="showA()">輔導</a></th>
                                                        <th style="text-align:center;">會議</th>
                                                        <th style="text-align:center;"><a ng-click="showC()">行政</a></th>
                                                        <th style="text-align:center;"><a ng-click="showOther()">其他</a></th>
                                                        <th style="text-align:center;">合計</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in dataMenu1">
                                                        <td>{{item.name}}</td>
                                                        <td>{{item.a1}}</td>
                                                        <td>{{item.meeting}}</td>
                                                        <td>{{item.c1}}</td>
                                                        <td>{{item.other}}</td>
                                                        <td>{{item.total}}</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot style="color:red">
                                                    <tr>
                                                        <td>合計(hr)</td>
                                                        <td>34.0</td>
                                                        <td>8.0</td>
                                                        <td>4.0</td>
                                                        <td>2.0</td>
                                                        <td>48.0</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="menuB_Detail">
            <div class="modal-dialog modal-md" style="width:880px;">
                <div class="modal-content" style="background:#D6ECE8">
                    <div class="modal-header" style="background:linear-gradient(to bottom,  #7ae2df 0%,#65b2b2 100%)">
                        <div class="pull-right" id="btnCLOSE" data-dismiss="modal"><img src="img/btn-oran-close.png" style="width:30px; height:30px;margin-bottom:10px;" /></div>
                        <div class="" id="" style="color:white">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-body ">
                        <div class="row class_mod_01_content">
                            <div class="container" style="background:white">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <input type="text" id="StudentBir" class="form-control form_date emptyinput" placeholder="起始日期" ng-model="dateStart" data-autoclose="1" data-date-format="yyyy-MM-dd" bs-datepicker>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" id="StudentBir" class="form-control form_date emptyinput" placeholder="結束日期" ng-model="dateEnd" data-autoclose="1" data-date-format="yyyy-MM-dd" bs-datepicker>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="row" id="samename_class" style="text-align:center;">
                                            <div id="divStudentList" class="col-md-8">
                                                <div class="tab-content info-opacity" style="padding-top:10px; position:relative;">
                                                    <div class="row" id="samename_class" style="text-align:center;">
                                                        <table id="" class="table table-bordered my_table my_class_table">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;">時間</th>
                                                                    <th style="text-align:center;">分行</th>
                                                                    <th style="text-align:center;">對象</th>
                                                                    <th style="text-align:center;">活動事件</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in menu2List">
                                                                    <td>{{item.time}}</td>
                                                                    <td>{{item.localName}}</td>
                                                                    <td>{{item.title}}</td>
                                                                    <td>{{item.event}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                            <div id="MainTable" class="col-md-4">
                                                <div class="tab-content">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-12">
                                                            <div style="height:200px">
                                                                <h3 class="panel-title">活動日誌</h3>
                                                                <textarea name="Text1" style="position: relative; margin: 10px 10px 10px 10px; width:90%; height: 80%">針對理專王OO進行奧多欣商品推動</textarea>
                                                            </div>
                                                            <div style="height:100px">
                                                                <h3 class="panel-title">主管回饋</h3>
                                                                <textarea name="Text1" style="position: relative; margin: 10px 10px 10px 10px; width:90%; height: 80%">很好!!繼續加油!!</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="menuC_Detail">
            <div class="modal-dialog modal-md" style="width:880px;">
                <div class="modal-content" style="background:#D6ECE8">
                    <div class="modal-header" style="background:linear-gradient(to bottom,  #7ae2df 0%,#65b2b2 100%)">
                        <div class="pull-right" id="btnCLOSE" data-dismiss="modal"><img src="img/btn-oran-close.png" style="width:30px; height:30px;margin-bottom:10px;" /></div>
                        <div class="" id="" style="color:white">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-body ">
                        <div class="row class_mod_01_content">
                            <div class="container" style="background:white">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div class="row" id="samename_class" style="text-align:center;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="menuD_Detail">
            <div class="modal-dialog modal-md" style="width:880px;">
                <div class="modal-content" style="background:#D6ECE8">
                    <div class="modal-header" style="background:linear-gradient(to bottom,  #7ae2df 0%,#65b2b2 100%)">
                        <div class="pull-right" id="btnCLOSE" data-dismiss="modal"><img src="img/btn-oran-close.png" style="width:30px; height:30px;margin-bottom:10px;" /></div>
                        <div class="" id="" style="color:white">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-body ">
                        <div class="row class_mod_01_content">
                            <div class="container" style="background:white">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <select id="" class="form-control" style="width:200px;display:inline-block;margin:5px;" ng-model="sltMonth" ng-options="item.date for item in dates" ng-change="dateChange()">
                                                <option value="">請選擇</option>
                                            </select>
                    
                                        </div>
                                        <div class="col-md-4">
                                            <select id="" class="form-control" style="width:200px;display:inline-block;margin:5px;" ng-model="sltWeek" ng-options="item.week for item in weeks" ng-style="sltWeekCss">
                                                <option value="">請選擇</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="row" id="samename_class" style="text-align:center;">
                                            <img src="./img/zzz02.PNG" style="width:700px;height:500px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="menuE_Detail">
            <div class="modal-dialog modal-md" style="width:880px;">
                <div class="modal-content" style="background:#D6ECE8">
                    <div class="modal-header" style="background:linear-gradient(to bottom,  #7ae2df 0%,#65b2b2 100%)">
                        <div class="pull-right" id="btnCLOSE" data-dismiss="modal"><img src="img/btn-oran-close.png" style="width:30px; height:30px;margin-bottom:10px;" /></div>
                        <div class="" id="" style="color:white">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-body ">
                        <div class="row class_mod_01_content">
                            <div class="container" style="background:white">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <input type="text" id="StudentBir" class="form-control form_date emptyinput" placeholder="起始日期" ng-model="dateStart" data-autoclose="1" data-date-format="yyyy-MM-dd" bs-datepicker>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" id="StudentBir" class="form-control form_date emptyinput" placeholder="結束日期" ng-model="dateEnd" data-autoclose="1" data-date-format="yyyy-MM-dd" bs-datepicker>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="row" id="samename_class" style="text-align:center;">
                                            <table id="" class="table table-bordered my_table my_class_table">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center;">面談時間</th>
                                                        <th style="text-align:center;">面談主題</th>
                                                        <th style="text-align:center;">目標1</th>
                                                        <th style="text-align:center;">行動方案</th>
                                                        <th style="text-align:center;">目標2</th>
                                                        <th style="text-align:center;">行動方案</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>105/07/21 14:00</td>
                                                        <td>業務推動</td>
                                                        <td>強化飛揚人生推動</td>
                                                        <td>針對45歲以上保守型客戶加強訴求</td>
                                                        <td>增加新樂享VIP保費達成</td>
                                                        <td>針對積極與穩健型客戶加強訴求</td>
                                                    </tr>
                                                    <tr>
                                                        <td>105/08/11 10:00</td>
                                                        <td>績效面談</td>
                                                        <td>提升業P達成</td>
                                                        <td>提升核實率</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>