<div>
    <div class="row">
        <div>
            <a href="#teachersInfo">回上頁</a>
        </div>
        <div>
            身分證號：
        </div>
        <div>
            <input type="text" id="txtTeacherPID" ng-model="item.pid"/>
        </div>
    </div>
    <div class="row">
        <div>
            姓名：
        </div>
        <div>
            <input type="text" id="txtTeacherName" ng-model="item.teacherName" />
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-success" ng-click="save()">Save</button>
    </div>

</div>